@page "/all-items"
@inject IItemService ItemService
@inject ILocationService LocationService
@inject ICategoryService CategoryService

@* Show all the items that haven't been marked as deleted. *@

<PageTitle>All Items</PageTitle>

<h1 class="pb-16 text-5xl font-semibold sm:pb-10 sm:text-4xl text-sky-900">Current Inventory</h1>
<div class="sm:w-1/2">
    @if (items is null)
    {
        <div>Loading items...</div>
    }
    else
    {
        <ItemsListView Items=items Locations=referenceLocations Categories=referenceCategories/>
    }
</div>

@code {
    PaginatedResult<Item>? items;
    Dictionary<Guid, Location> referenceLocations = new();
    Dictionary<Guid, Category> referenceCategories = new();

    // Parameters for the page.
    [Parameter, SupplyParameterFromQuery]
    public int? Page { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public int? Count { get; set; } = 50;

    protected override async Task OnParametersSetAsync()
    {
        // Load categories and locations for the items list view.
        referenceCategories = (await CategoryService.AllAsync()).ToDictionary(x => x.Id);
        referenceLocations = (await LocationService.AllAsync()).ToDictionary(x => x.Id);
        
        // Load the items.
        items = await ItemService.AllAsync(Page ?? 1, Count ?? 50);
    }
}
