<div class="[&>*]:grow [&>*]:text-center flex justify-around py-4 text-xl font-bold bg-white sm:py-2 sm:text-lg rounded-t-3xl ">
    <NavLink Match=NavLinkMatch.All href="" class="text-gray-600" ActiveClass="text-sky-700">
        Home
    </NavLink>
    <NavLink href="search" class="text-gray-600" ActiveClass="text-sky-700">
        Search
    </NavLink>
    <NavLink href="expiring" class="text-gray-600" ActiveClass="text-sky-700">
        Expiring
    </NavLink>
</div>