<div class="[&>*]:grow [&>*]:text-center [&>*]:text-gray-600 [&>*]:w-1/3 flex justify-around pt-4 pb-6 text-xl font-bold bg-white sm:py-2 sm:text-lg rounded-t-3xl ">
    <NavLink Match=NavLinkMatch.All href="" ActiveClass="text-sky-700">
        Home
    </NavLink>
    <NavLink href="search" ActiveClass="text-sky-700">
        Search
    </NavLink>
    <NavLink href="expiring" ActiveClass="text-sky-700">
        Expiring
    </NavLink>
</div>